/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/ai/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* page.module.css */

  /* 제목(.title) */
  .page_title__WqWrQ {
    font-size: 4.5rem;
    font-weight: bold;
    color: #02fe85;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 60px;
    transition: transform 0.3s ease;
  }
  .page_title__WqWrQ:hover {
    transform: scale(1.05);
  }
  
  /* 메인 컨테이너(.mainContainer) */
  .page_mainContainer___EiVP {
    margin-top: 10px;
    margin-bottom: 200px;
    text-align: center;
    background-color: #1e1e1e;
    padding: 75px;
    border-radius: 30px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease;
  }
  .page_mainContainer___EiVP:hover {
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.6);
  }
  
  /* 버튼 컨테이너(.buttonContainer) */
  .page_buttonContainer___RaSY {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  /* 링크 버튼(.linkButton) */
  .page_linkButton__pWsSM {
    text-decoration: none;
    color: #ffffff;
    background-color: #02fe85;
    font-size: 2.4rem;
    padding: 22px 45px;
    border-radius: 22px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  .page_linkButton__pWsSM:hover {
    background-color: #029f5b;
    transform: translateY(-7px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  }
  
